.megamenu {
  position: static;
}

.navbar {
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(3, 59, 244));
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

.APP {
  background: #eaafc8;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
  min-height: 100vh;
}

code {
  color: #745eb1;
  background: #fff;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.text-uppercase {
  letter-spacing: 0.08em;
}

@media only screen and (min-device-width: 1023px) and (max-device-width: 1030px) {
  .btnBuy{
    display: grid;
    position: inherit;
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .btnBuy{
    display: grid;
    position: inherit;
    cursor: pointer;
  }
}

@media only screen and (min-device-width: 1700px) and (max-device-width: 2000px) {
  .btnBuy{
    display: grid;
    position: inherit;
  }
}