<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="table-buy.component.css"></script>
</head>

<body>
    <div class="ejemplo">
        <h5 class="noHayDatos" *ngIf="InformationBuy == null">
            No hay datos para mostrar
        </h5>
        <table *ngIf="InformationBuy != null">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Cantidad</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="
                          let buy of InformationBuy
                            | paginate: { itemsPerPage: 5, currentPage: page }
                        ">
                    <td>{{ buy.nombre }}</td>
                    <td>{{ buy.precio }}</td>
                    <td><input type="number" value="{{buy.cantidad}}" (change)="amount($event, buy.id)"
                            style="width: 100%;"></td>
                    <td>{{buy.total}}</td>
                    <i (click)="DeleteUser(buy.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                </tr>
            </tbody>
        </table>

        <div>
            <button>Confirmar</button>
        </div>
    </div>
</body>

</html>