<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<section class="seccion">
    <div class="container">
        <!-- <h2><strong>Galeria</strong></h2> -->

        <div class="col-12">
            <div class="row">


                <div class="col-12 text-right">
                    <pagination-controls (pageChange)="page = $event">
                        <a data-slide="prev"></a>
                        <a data-slide="next"></a>
                    </pagination-controls>
                </div>

                <div class="col-md-4 mb-3" data-aos="flip-up"
                    *ngFor="let gallery of galeria | paginate: { itemsPerPage: 3, currentPage: page }">
                    <div class="card shadow-lg p-3 mb-5 bg-white rounded zoom">
                        <div class="card-header d-flex flex-column " style="height: 300px; width: 100%;">
                            <div (click)="openModal(editProfileModal)" class="img-wrap"
                                style="height: 300px;width: 100%;"
                                [ngStyle]="{'backgroundImage':'url('+gallery.imagen+')'}">

                                <!-- Modal -->
                                <ng-template class="custom-modal" #editProfileModal let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editProfileLabel">Fotos de {{gallery.selectGroup}}
                                        </h5>

                                        <button type="button" class="close" (click)="modal.dismiss()"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <!-- Aqui se coloca lo adentro -->
                                        <div class="row">
                                            <div class="col-12 text-right">

                                                <pagination-controls (pageChange)="pageModal = $event">
                                                    <a data-slide="prev"></a>
                                                    <a data-slide="next"></a>
                                                </pagination-controls>
                                            </div>

                                            <div class="col-md-6 mb-3" data-aos="flip-up"
                                                *ngFor="let gale of galerias | paginate: { itemsPerPage: 2, currentPage: pageModal }">
                                                <div class="wp-block-column">
                                                    <div style="border:1px solid #f5f5f5;padding-top:15px;padding-right:0px;padding-bottom:0px;padding-left:15px;border-radius:12px;background-color:rgb(255, 255, 255);box-shadow:0px 0px 8px #343434"
                                                        id="wp-blocks-design-id-4166924d"
                                                        class="wp-block-design-dynamic-block">
                                                        <style>
                                                            #wp-blocks-design-id-4166924d:hover {
                                                                border: 1px solid #f5f5f5 !important;
                                                                padding-top: 15px !important;
                                                                padding-right: 0px !important;
                                                                padding-bottom: 0px !important;
                                                                padding-left: 15px !important;
                                                                border-radius: 12px !important;
                                                                background-color: rgba(255, 255, 255, 1) !important;
                                                                box-shadow: 0px 0px 8px #c40b0b !important;
                                                            }
                                                        </style>
                                                        <div class="wp-block-columns has-2-columns">
                                                            <div class="wp-block-column">
                                                                <div style="height:20px" aria-hidden="true"
                                                                    class="wp-block-spacer"></div>

                                                                <p class="has-text-align-right has-very-dark-gray-color has-text-color has-custom-font"
                                                                    style="font-size:23px;font-family:Fira Sans">
                                                                    {{gale.nombre}}</p>

                                                                <p class="has-text-align-right has-vivid-red-color has-text-color has-custom-font"
                                                                    style="font-size:23px;font-family:Fira Sans">
                                                                    ${{gale.precio}}
                                                                </p>

                                                                <div class="wp-block-button alignright is-style-btn-rounded has-custom-size has-custom-font has-custom-weight"
                                                                    style="font-family:Fira Sans;font-weight:400;font-size:15px">
                                                                    <a class="wp-block-button__link has-vivid-white-color has-pale-pink-background-color has-text-color has-background"
                                                                        (click)="guardarInfo(gale)">Comprar</a>
                                                                </div>
                                                            </div>

                                                            <div class="wp-block-column">
                                                                <div style="height:40px" aria-hidden="true"
                                                                    class="wp-block-spacer"></div>

                                                                <figure class="wp-block-image">
                                                                    <img src="{{gale.imagen}}">
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Afuera -->
                                    </div>
                                </ng-template>

                                <!-- Fin Modal -->

                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{gallery.selectGroup}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>