<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style href="login.component.css"></style>
</head>

<body>
    <div class="container">
        <div class="row" *ngFor="let homes of hom">
            <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
                <!-- <div class="card border-0 shadow rounded-3 my-5"> -->
                <div class="m-0 vh-100 row justify-content-center align-items-center">
                    <div class="card-body p-4 p-sm-7">
                        <div class="card-title text-center mb-3 fw-bolder display-5">
                            <label class="text-danger">AGREGAR TEXTO</label>
                        </div>

                        <form #formLogin="ngForm">
                            <div class="row justify-content-center">
                                <div class="form-floating mb-3 col-6">
                                    <input class="form-control" [(ngModel)]="homes.texto" type="text" id="texto" name="texto"
                                        placeholder="Texto" />
                                    <label>Texto</label>
                                </div>
                            </div>

                            <div class="row position-absolute fixed-bottom mb-2">
                                <div class="col-md-6 d-grid justify-content-center">
                                    <button (click)="onUpdateHome(homes.idDocument, homes.id, homes)"
                                        class="btn btn-primary btn-lg btn-login text-uppercase fw-bold col-12">
                                        Aceptar
                                    </button>
                                </div>

                                <div class="col-md-6 d-grid justify-content-center">
                                    <button (click)="devolver()"
                                        class="btn btn-success btn-lg btn-login text-uppercase fw-bold col-12">
                                        Devolver
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>