<section class="seccion" data-aos="fade-right">
	<div class="inner">
		<h1 class="mt-3"><span>Propósitos</span></h1>
		<div class="seccion__texto">
			<p><strong>El Centro de Innovación Virtual para la Educación y el Trabajo</strong> surge en 2019 como una
				nueva oferta educativa de Suterh con los propósitos de:</p>
		</div>

		<div class="seccion__columnas">
			<div>
				<p><strong>Incorporar</strong> una propuesta de capacitación en línea que dé respuesta a las necesidades
					de formación continua de los trabajadores en relación con la diversidad de conocimientos y
					habilidades que demanda la actual sociedad del s. XXI.</p>
			</div>
			<div>
				<p><strong>Desarrollar</strong> una oferta de formación virtual innovadora, basada en el uso de variedad
					de recursos multimediales que propicien un aprendizaje basado en la resolución de problemas, el
					pensamiento crítico y el uso de la tecnología.</p>
			</div>
			<div>
				<p><strong>Ofrecer</strong> diversidad de cursos virtuales y semi presenciales de forma tal que los
					trabajadores puedan formarse en los tiempos y espacios de que dispongan propiciando así la formación
					a lo largo de toda la vida y favoreciendo sus condiciones de empleabilidad.</p>
			</div>
		</div>
	</div>
</section>